.CreatePost {
  overflow-y: scroll;
  height: calc(100vh - 155px);
  padding-top: 0.5em;
  text-align: center;
  position: relative;
}

.create-post-form {
  margin-top: 1em;
  width: 90%;
  margin: 0 auto;
}

.create-post-btn {
  display: block;
  margin: 1em auto;
}

.create-post-title {
  margin-top: 0em;
}

.create-post-loading {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
